.header-menu{
    background-color: #363636	;
    display: flex   ;
    padding: 8px;
    justify-content: space-between  ;
}   

.img-logo{
    width: 5%;

}
.text2{
    color: greenyellow  ; 
    font-size: 30px;
}